.pgSearchAhead ul{
overflow-y: auto;
margin: 0;
}

.pgSearchAhead .search-result-title{
    display: block;
    text-wrap: none;
    vertical-align: middle;
}

.pgSearchAhead li > a {
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}

.pgSearchAhead i a:hover,
.pgSearchAhead li a:focus{
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.pgSearchAhead .active a,
.pgSearchAhead .active a:hover,
.pgSearchAhead .active a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    outline: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.pgSearchAhead strong.highlight {
    background-color: yellow;
    color: #000000;
}

.pgSearchAhead ul li div {
    display: block;
}

.pgSearchAhead li > a {
    padding: 0px;
}

.pgSearchAhead ul li > a > div {
    padding: 3px 20px;
}

.pgSearchAhead li:nth-child(odd) {
    background-color: #EEEEEE;
}

.pgSearchAhead li.active {
    color: #fff;
    background-color: #0097cf;
}

.pgSearchAhead li.search_footer {
    color: inherit;
    background-color: inherit;
}

.pgSearchAhead .search_footer div:first-child {
    margin: 0px 6px 0 6px;
}